body{
    margin:0px;
    background:#ffffff;
}

img.logo{
    height:60px;
}

img.stepImage{
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

h1{
    font-family: Helvetica;
    font-size: 25px;
}

h2{
    font-family: Helvetica;
    font-size: 20px;
}

h3{
    font-family: Helvetica;
    font-size: 16px;
}

p{
    font-family: Helvetica;
    font-size: 14px;
}

.divider-bar{
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

.align-bar{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    margin-top: -1%;
}

.header-top {
    height:30px;
    line-height: 30px;
    width:100%;
    margin:0px auto;

    text-align: center; 
    font-family: "Helvetica", serif;

    background:#262A2A;
    color: #ecf0f1;
}

.header-mid {
    height:60px;
    line-height: 60px;
    width:100%;
    margin:0px auto;
    
    text-align: center;
    font-family: "Helvetica", serif;

    background:#ecf0f1;
    color:#262A2A;
}

.header-col-top {
    float: left;
    width: 50%;
}

.links-login {
    float:left;
    width: 50%;
}

.header-col-logo {
    float:left;
    width: 33%;
    height: 60px;
}

.header-col-links {
    float:left;
    width: 66%;
}

.links-col{
    float: left;
    width: 20%;
    text-align: center;
}

.links-col a:visited, .links-col a:link, .links-col a:active{
    color:#262A2A;
    text-decoration: none;
}

.links-col a:hover{
    text-decoration: underline;
}

.content {
    width:100%;
    background: #bdc3c7;
    margin: 0px auto;
    text-align: left;

}

.content-left {
    background: #ecf0f1;

    padding-top: 5px;
    padding-bottom: 1.25%;
    padding-left: 1.25%;
    padding-right: 1.25%;

    position: relative;
    float:left;

    border-radius: 5px;
}

.content-right {
    background: #ecf0f1;
    
    padding-top: 10px;
    padding-bottom: 1.25%;
    padding-left: 1.25%;
    padding-right: 1.25%;

    /*position: relative;*/

    border-radius: 5px;
}


@media(max-width: 800px){
    .content-left{
        width:96.5%;
        margin-top: 2%;
        margin-bottom: 1%;
        margin-right: 3%;
        margin-left: 0.5%;
    }
    .content-right{
        width:96.5%;
        margin-top: 1%;
        margin-bottom: 2%;
        margin-right: 3%;
        margin-left: 0.5%;

        float:left;
        position: relative;
    }
}

@media(min-width: 800px){
    .content-left {
        margin-top: 1.25%;
        margin-bottom:2.5%;
        margin-left:5%;
        margin-right:1%;

        width:60%;
    }
    .content-right {
        margin-top: 1.25%;
        margin-bottom:2.5%;
        margin-left:69.5%;
        margin-right: 5%;

        width:23%;

        float:right;
        position: fixed;
    }
}

@media(min-width:1200px){
    .content-left {
        margin-top: 1.25%;
        margin-bottom:2.5%;
        margin-left:10%;
        margin-right:1%;

        width:55%;
    }
    .content-right {
        margin-top: 1.25%;
        margin-bottom:2.5%;
        margin-left:69.5%;
        margin-right: 10%;

        width:18%;

        float:right;
        position: fixed;
    }
}

@media(min-width:1400px){
    .content-left {
        margin-top: 1.25%;
        margin-bottom:2.5%;
        margin-left:18%;
        margin-right:1%;

        width:41%;
    }
    .content-right {
        margin-top: 1.25%;
        margin-bottom:2.5%;
        margin-left:62.5%;
        margin-right: 18%;

        width:17%;

        float:right;
        position: fixed;
    }
}

@media(min-width:1700px){
    .content-left {
        margin-top: 1.25%;
        margin-bottom:2.5%;
        margin-left:23%;
        margin-right:1%;

        width:36%;
    }
    .content-right {
        margin-top: 1.25%;
        margin-bottom:2.5%;
        margin-left:62.5%;
        margin-right: 23%;

        width:12%;

        float:right;
        position: fixed;
    }
}

.content-main {
    height:500px;
    background: #e74c3c;
    position: relative;
}

.content-steps {
    height:500px;
    background: #e67e22;
    position: relative;
}

.content-review {
    height:500px;
    background: #f39c12;
    position: relative;
}

.content-faq {
    height:500px;
    background:  #f1c40f;
    position: relative;
}

.footer {
    width:100%;
    background: #bdc3c7;
    height: 450px;
    margin: 0px auto;
    text-align: left;
}

.footer-legal { 
    height:400px;
    background:#ecf0f1;
    color:#262A2A;
    position: relative;

    font-family: "Helvetica", serif;
    font-size: 350px;
    text-align: center;
}

.footer-copyright {
    height:50px;
    background:#262A2A;
    color: #ecf0f1;
    position: relative;

    font-family: "Helvetica", serif;
    line-height: 50px;
}

.overlay-center {
    width: 500px;
    height: 200px;
    position: absolute;
    margin: 0px auto;
    background: #c0392b;

    top: 25%;
    left: 20%;

    border: 0px none;
    border-radius: 10px;
}

.overlay-listers{
    position: absolute; 
    width: 200px;
    height: 375px;
    margin: 0px auto;
    background: #c0392b;

    top: 0%;
    right: 10%;

    border: 0px none;
    border-radius: 0px 0px 10px 10px;
}





