body {
    margin:0px;
    background:#ffffff;
}

img.logo {
    height:60px;
}

img.stepImage {
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

h1 {
    font-family: Helvetica;
    font-size: 25px;
}

h2 {
    font-family: Helvetica;
    font-size: 20px;
}

h3 {
    font-family: Helvetica;
    font-size: 16px;
}

.form-text {
    font-family: Helvetica;
    font-size: 16px;
    margin-bottom:10px;
    color:#262a2a;
}

p {
    font-family: Helvetica;
    font-size: 14px;
}

legend{
    padding:10px;
    font-family: Helvetica;
    font-size: 30px;
    text-align: center;
    color: #262a2a;
}

fieldset{
    border:none;
}

input[type="text"], input[type="password"]{
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  width:250px;
  border-radius: 5px;
  border:none;
}

input:focus{
    box-shadow: 0px 0px 0px 2px #27ae60;
    outline: none;
}

input[type="submit"]{
    background-color: #262a2a;
    color: #ecf0f1;

    font-size: 20px;

    border: none;
    padding: 15px 50px;

    border-radius: 5px;
    border:none;

}

input[type="submit"]:hover{
    background-color: #27ae60;
}

.content-login{
    background: #ecf0f1;

    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 15px;

    border-radius: 5px;

    width: 1000px
}

#fees-table tr:nth-child(odd) {
    background: #ffffff;
} 

#fees-table tr:nth-child(even) {
    background: #EAF2D3;
} 

#fees-table td {
    border: 1px solid #98bf21;
}

#fees-table th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
    border: 1px solid #98bf21;
}

#fees-table{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

.divider-bar{
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    margin-top: 3px;
    margin-bottom: 3px;
    clear:both;
}

.align-bar{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    margin-top: -1%;
}

.header-top-back {
    width:100%;
    height:30px;
    margin: 0 auto;

    background: #262a2a;
}

.header-mid-back {
    width:100%;
    height:60px;
    margin: 0 auto;

    background: #ecf0f1;
}

.header-top {
    height:30px;
    line-height: 30px;
    /*width:1000px;*/
    margin:0px auto;

    text-align: center; 
    font-family: "Helvetica", serif;

    background:#262A2A;
    color: #ecf0f1;
}

.header-mid {
    height:60px;
    line-height: 60px;
    /*width:1000px;*/
    margin:0px auto;
    
    text-align: center;
    font-family: "Helvetica", serif;

    background:#ecf0f1;
    color:#262A2A;
}

.header-col-top {
    float: left;
    width: 50%;
}

.links-login {
    float:left;
    width: 50%;
}

.header-col-logo {
    float:left;
    width: 33%;
    height: 60px;
}

.header-col-links {
    float:left;
    width: 66%;
}

.links-col{
    float: left;
    width: 20%;
    text-align: center;
}

.links-col a:visited, .links-col a:link, .links-col a:active{
    color:#262A2A;
    text-decoration: none;
}

.links-col a:hover{
    text-decoration: none;
    color: #27ae60;
}

.header-col-top a:visited, .header-col-top a:link, .header-col-top a:active{
   color: #ecf0f1;;
    text-decoration: none;
}

.header-col-top a:hover {
    text-decoration: none;
    color: #27ae60;
}

.footer-legal a:visited, .footer-legal a:link, .footer-legal a:active{
    color:#262A2A;
    text-decoration: none;
}

.footer-legal a:hover{
    text-decoration: none;
    color: #27ae60;
}

.content-index {
    width:100%;
    background: #bdc3c7;
    margin: 0px auto;
    text-align: left;

}

.content-left {
    background: #ecf0f1;

    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    position: relative;
    float:left;

    border-radius: 5px;
}

.content-right {
    /*background: #EAF2D3;*/
    background: #ecf0f1;
    
    padding-top: 10px;
    padding-bottom: 1.25%;
    padding-left: 10px;
    padding-right: 10px;

    border-radius: 5px;

    /*border: 1px solid #98bf21;*/
}

@media(max-width: 900px){
    .content {
        width: 100%;
    }
    .content-left {
        width:97%;
        margin-top: 2%;
        margin-bottom: 1%;
        margin-right: 2.5%;
        margin-left: 0.5%;
    }
    .content-right {
        width:97%;
        margin-top: 1%;
        margin-bottom: 2%;
        margin-right: 2.5%;
        margin-left: 0.5%;;

        float:left;
        position: relative;
    }
    .header-top {
        width: 100%;
    }
    .header-mid {
        width: 100%;
    }
    .footer-legal {
        width: 100%;
    }
    .footer-copyright {
        width: 100%;
    }
    .overlay-center {
        width: 85%;
        height: 200px;
        position: absolute;
        margin: 0px auto;

        top: 50%;
        left: 5%;
    }
    .overlay-listers {
        /*visibility: hidden;*/
        position: absolute; 
        width: 400px;
        height: 200px;
        margin: 0px auto;
        
        top: 0%;
        right: 5%;
        left: 5%;
    }
    #index-large {
        display:none;
    }
    #index-small {
        margin-left: 10px;
    }
}

@media(min-width:900px){
    .content {
        width:1000px;
        float: center;
        margin: 0 auto;
    }
    .content-left {
        margin-top: 15px;
        margin-bottom:2.5%;

        width:680px;
    }
    .content-right {
        margin-top: 15px;
        margin-bottom:2.5%;
        margin-left:715px;
        margin-right: 5px;

        width:260px;

        float:left;
        position: fixed;
    }
    .header-top {
        width:1000px;
    }
    .header-mid {
        width:1000px;
    }
    .footer-legal {
        width: 1000px;
    }
    .footer-copyright {
        width: 1000px;
    }
    .overlay-center {
        width: 45%;
        height: 200px;
        position: absolute;
        margin: 0px auto;

        top: 25%;
        left: 15%;
    }
    .overlay-listers {
        position: absolute; 
        width: 200px;
        height: 300px;
        margin: 0px auto;

        top: 0%;
        right: 10%;
    }
    #index-small {
        display:none;
    }
}

.content-image {
    float: left;
}

.content-break {
    clear:both;
}

.content-main {
    height:500px;
    background-image: url("http://www.tubewalker.com/images/central/liverpool_street_to_leytonstone/source/liverpool_street_to_leytonstone221.jpg");
    background-size: 100% 900px;
    background-repeat: no-repeat;
    position: relative;
}

.content-steps {
    height:500px;
    background: #e67e22;
    position: relative;
}

.content-review {
    height:500px;
    background: #f39c12;
    position: relative;
}

.content-faq {
    height:500px;
    background:  #f1c40f;
    position: relative;
}

.footer {
    width:100%;
    background: #bdc3c7;
    height: 450px;
    margin: 0px auto;
    text-align: left;
}

.footer-legal { 
    height:400px;
    background:#ecf0f1;
    color:#262A2A;
    position: relative;
    float: center;
    margin: 0 auto;

    font-family: "Helvetica", serif;
    font-size: 16px;
    text-align: center;
}

.footer-copyright {
    height:50px;
    background:#262A2A;
    color: #ecf0f1;
    position: relative;
    float: center;
    margin: 0 auto;

    font-family: "Helvetica", serif;
    line-height: 50px;
}

.footer-legal-back {
    height: 400px;
    width: 100%;

    background: #ecf0f1;
}

.footer-copyright-back {
    height: 50px;
    width: 100%;

    background: #262A2A;
}

.overlay-center {
    /*width: 500px;
    height: 200px;
    position: absolute;
    margin: 0px auto;*/

    text-align: center;
    font-family: "Helvetica", serif;

    background:#ecf0f1;
    color:#262A2A;

    /*top: 25%;
    left: 20%;*/

    border: 0px none;
    border-radius: 10px;

    opacity: 0.9;
    padding-left: 10px;
    padding-right: 10px;
}

.overlay-listers{
    /*position: absolute; 
    width: 200px;
    height: 300px;
    margin: 0px auto;*/

    text-align: center;
    font-family: "Helvetica", serif;

    vertical-align: bottom;

    background:#ecf0f1;
    color:#262A2A;

    /*top: 0%;
    right: 10%;*/


    border: 0px none;
    border-radius: 0px 0px 10px 10px;

    opacity: 0.9;
}





