<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Thanks for registering to HomeHunter</h1>
<p>
  You have created an account using this email address, please confirm your address using the provided link <br>
</p>
<p>
  To complete your registration and start listing properties, just follow this link: <%= @url %>.
</p>
<p>Thanks HomeHunter!</p>
</body>
</html>