<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Your password has successfully been changed</h1>
<p>
  If this was not you then please contact us immediately to secure your account.
</p>
<p>
  Regards, HomeHunter.com
</p>
</body>
</html>