<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>You have successfully listed a property on HomeHunter!</h1>
<p>
  Congratulations on successfully uploading your property to HomeHunter.
</p>
<p>
  You can manage any of your listings from the manage your account page found here <%= @url %>.
</p>
<p>
  Have a nice day, HomeHunters!
</p>
</body>
</html>