<div data-step="0" class="wizard-container showing">
    <div class="wizard-header">
        <h1>Contact Us</h1>
        <span>Please enter your details and your question below and we will endeavour to reply to you within 24hrs.</span>
    </div>
    <div class="wizard-content-standard">
        <div>
            <span>First Name</span>
            <input type="text" name="fname" tabindex="1" id="no-border-radius"/>
        </div>
        <div>
            <span>Last Name</span>
            <input type="text" name="lname" tabindex="2" id="no-border-radius"/>
        </div>
        <div>
            <span>Email</span>
            <input type="text" name="email" tabindex="3" id="no-border-radius"/>
        </div>
        <div>
            <span>Phone Number</span>
            <input type="text" name="phone" tabindex="4" id="no-border-radius"/>
        </div>
        <div id="message-description">
            <span>Description</span>
            <textarea></textarea>
        </div>
    </div>

    <div class="wizard-bottom">
        <div class="float-right">
            <button class="wizard-next">Send</button>
        </div>
    </div>
</div>