<div id="content-about-placer">
    <div class="content-about">
        <h1>Cookies Policy</h1>
        <div class="divider-bar"></div>
        <div class="account-subheading">Add text here.</div>
        <div class="account-subheading">Add some more text here.</div>
        <div class="account-subheading">More text, yay!</div>
    </div>
</div>