<div class="content" id="content-FAQ">
        <div class="content-left">
            <h1>FAQ</h1>
            <hr class="divider-bar">
            <h2>Frequently asked questions</h2>
            <h3>What is a the difference between a listing agent and an estate agent?</h3>
                <p>
                    Place holder for answer
                </p>
            <h3>What is HomeHunter and what services do you offer?</h3>
                <p>
                    Place holder for answer.
                </p>
            <h3>Why should I use HomeHunter?</h3>
                <p>
                    Place holder for answer.
                </p>
            <h3>Is HomeHunter an estate agent?</h3>
                <p>
                    Place holder for answer.
                </p>
            <h3>Can I use an agent and be on HomeHunter?</h3>
                <p>
                    Place holder for answer.
                </p>
            <h3>Where does HomeHunter cover?</h3>
                <p>
                    Place holder for answer.
                </p>
            <h3>How long do you list my property for?</h3>
                <p>
                    Place holder for answer.
                </p>
            <h3>Where will my property be listed/ seen?</h3>
                <p>
                    Place holder for answer.
                </p>
            <h3>How do I edit a listing?</h3>
                <p>
                    Place holder for answer.
                </p>
            <h3>Are there any hidden/ additional costs?</h3>
                <p>
                    Place holder for answer.
                </p>
        </div> 
</div>  