<div class="content-drawer">
    <div class="drawer" id="drawer">
        <nav>
            <ul>
                <li><a href="account-wizard.html">My Account</a></li>
                <li><a href="advice.html">Advice</a></li>
                <li><a href="howitworks.html">How It Works</a></li>
                <li><a href="fees.html">Fees</a></li>
                <li><a href="FAQs.html">FAQs</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="content" id="content-howitworks">
	<div class="content-left">
		<h1>Step By Step Guild To Listing Your Property</h1>

		<hr class="divider-bar">
		<div class="content-image-fees">
            <div class="square-steps-howitworks"><strong>Register</strong></div>
		</div>
		<div class="content-fees-text"><h2>Step 1</h2>
			<p>
                The first step is simple, simply click on the "register" button in the top right corner of this page
                and  create an account with us.
			</p>
		</div>

		<hr class="divider-bar">

        <div class="content-image-fees">
            <div class="square-steps-howitworks"><strong>Create</strong></div>
        </div>
        <div class="content-fees-text"><h2>Step 2</h2>
			<p>
                In order to start listing your property simply log in via the home page and click "list property",
                once there you can start to fill in the details and add images for your property.
                We would suggest having the measurements and images of your rooms ready before starting the listing
                process.
			</p>

		</div>

		<hr class="divider-bar">

        <div class="content-image-fees">
            <div class="square-steps-howitworks"><strong>Submit</strong></div>
        </div>
        <div class="content-fees-text"><h2>Step 3</h2>
			<p>
                Once you have have completed your payment, your property will be uploaded on to Rightmove
                and Zoopla for the agreed period of time, this will depend on the package you have chosen.
                Prospective buyers will now be able to view your property on Rightmove and Zoopla.
			</p>
		</div>
		<hr class="divider-bar">
        <div class="content-image-fees">
            <div class="square-steps-howitworks"><strong>Track</strong></div>
        </div>
        <div class="content-fees-text"><h2>Step 4</h2>
			<p>
                Finally sit back and relax, your property is on the market and potential buyers will begin
                contacting you to arrange viewings to see your property.
			</p>
		</div>
        <hr class="divider-bar">
        <input type="submit" name="register" value="Register" id="how-it-works-register" onclick="window.location='register.html'">
	</div>
</div>