<div class="content-drawer">
    <div class="drawer" id="drawer">
        <nav>
            <ul>
                <li><a href="account-wizard.html">My Account</a></li>
                <li><a href="advice.html">Advice</a></li>
                <li><a href="howitworks.html">How It Works</a></li>
                <li><a href="fees.html">Fees</a></li>
                <li><a href="FAQs.html">FAQs</a></li>
            </ul>
        </nav>
    </div>
</div>
<!-- Accordian menu drop down test END -->
<div class="content-main">
    <div class="content">
        <div class="overlay-center">
            <h2 id="overlay-center-text">
                With Home Hunter you can sell your home in 5 easy steps from as little as £99 <span>+VAT</span>
            </h2>

            <input type="submit" name="register" value="Register" id="register-id" onclick="window.location='register.html'">
        </div>

        <div class="overlay-listers">
            <div class="allign-bar"></div>
            <h3>For maximum exposure we list on:</h3>


            <div class="divider-bar"></div>

            <p>
                <a href="http://www.zoopla.co.uk" target="_blank">
                    <%= image_tag "zooplalogo.png", alt: "Zoopla", width: "180" %>
                </a>
                <a id="index-small" href="http://www.rightmove.co.uk" target="_blank">
                	<%= image_tag "rightmovelogo.png", alt: "Rightmove", width: "180" %>
                </a>
            </p>

            <div class="divider-bar" id="divider-bar-temp"></div>

            <p id="rightmove-margin"><a id="index-large" href="http://www.rightmove.co.uk" target="_blank">
                <%= image_tag "rightmovelogo.png", alt: "Rightmove", width: "180" %>
            </a></p>
        </div>
    </div>
</div>
<div id="content-priceplan">
    <div><h2>Here at Home Hunter we have a Price Plan to suit everyone</h2></div>
    <div class="content-priceplan">
        <div class="price-circles"><sup>From</sup><br><strong>£99</strong>+VAT</div>
        <div class="price-col"><h2><strong>Low risk</strong></h2>Small initial outlay with final payment on sale</div>
    </div>
    <div class="content-priceplan">
        <div class="price-circles"><sup>From</sup><br><strong>£249</strong>+VAT</div>
        <div class="price-col"><h2><strong>Quick Sale</strong></h2>Who believe their property will sell fast</div>
    </div>
    <div class="content-priceplan">
        <div class="price-circles"><sup>From</sup><br><strong>£400</strong>+VAT</div>

        <div class="price-col"><h2><strong>Basic</strong></h2>All you need to sell your property</div>
    </div>
    <div class="content-priceplan">
        <div class="price-circles"><sup>From</sup><br><strong>£600</strong>+VAT</div>
        <div class="price-col"><h2><strong>Premium</strong></h2>Basic package with that little extra</div>
    </div>
</div>

<div id="content-slider-back">
    <div class="content-slider">
        <div class="content">
            <div><h2>My property is worth: </h2></div>
            <strong><div id="result" style="height:40px;" >£0</div></strong>
            <div>
                <input type="range" id="sliderBar" min="1500" max="4000" step="5" value="2590" />
            </div><br>
            <div><h2>You could save <div id="saving">£0</div> with Home Hunter.</h2></div>
            Savings are based on an estate agent fee of 1.5% +VAT.
        </div>
    </div>
</div>


</div>


<div id="content-steps">
    <div><h2>4 Quick steps to selling your property</h2></div>
    <div class="content-steps">
        <div class="square-steps"><strong>Step 1</strong></div>
        <div class="text-steps"><h2><strong>Register</strong></h2>Create an account with us.</div>
    </div>
    <div class="content-steps">
        <div class="square-steps"><strong>Step 2</strong></div>
        <div class="text-steps"><h2><strong>Create</strong></h2>Create your property listing.</div>
    </div>
    <div class="content-steps">
        <div class="square-steps"><strong>Step 3</strong></div>
        <div class="text-steps"><h2><strong>Submit</strong></h2>We will list on to Rightmove.</div>
    </div>
    <div class="content-steps">
        <div class="square-steps"><strong>Step 4</strong></div>
        <div class="text-steps"><h2><strong>Track</strong></h2>Monitor and edit your property.</div>
    </div>
</div>


<script type="text/javascript">
    function rounding(num) {
        num = num / 5000;
        return Math.round(num)*5000;
    }

    //the saving the user will make
    function saving_cost(num) {
      return Math.round(num*0.015*1.2);
    }

    //the value of their property
    function value(num) {
      num = num / 160;
      console.log(num);
      if(num > 12.5) {
        num = rounding(Math.pow((num/1.19),5.29345));
        return num / 5;
      } else {
        num = rounding(Math.pow(((num*-1)/1.2), 5));
        num = num * -2;
        console.log("out: " + num);
        return num / 5;
      }
    }

    function showValue(num) {
        var result = document.getElementById('result');
        var saving = document.getElementById('saving');

        house_value = value(num);

        result.innerHTML = '£'+ house_value
        saving.innerHTML = '£'+ saving_cost(house_value);
    }

    $(document).ready(function() {
        showValue(2590);

        $('#sliderBar').on("change mousemove", function() {
            showValue($(this).val());
        });
    });
</script>