<html>
<head>
    <link href="../HomeHunter.css" rel="stylesheet">
    <meta charset="UTF-8">
</head>
<body>
    <footer>
    	<div id="footer-legal-back">
    		<div id="footer-legal">
                <div class="footer-col">  
                    <span><strong>Save Money With Home Hunter</strong></span>
                    <span>Mortgage Calculator</span>
                    <span>Stamp Duty Calculator</span>
                    <span>Savings Calculator</span>
                    <span>Who's who Property Advice</span>
                    <span>Buying and Selling Check List</span>
                    <span><a href="FAQs.html">FAQs</a></span>
                </div>
                <div class="footer-col">  
                    <span><strong>Get to know us</strong></span>
                    <span><a href="hhaboutus">About us</a></span>
                    <span><a href="hhcontactus">Contact us</a></span>
                    <span><a href="hhtermsofuse.html">Terms of use</a></span>
                    <span><a href="hhcookiespolicy">Cookies Policy</a></span>
                </div>
                <div class="footer-col">  
                    <span><strong>Getting Started</strong></span>
                    <span>5 Easy Steps</span>
                    <span>Sell your property</span>
                    <span><a href="fees.html">Fees</a></span>
                    <span>Privacy Notice</span>
                </div>
    		</div>
    	</div>
    	<div class="footer-copyright-back">
    		<div class="footer-copyright">
    			&copy COPYRIGHT
    		</div>	
    	</div>
    </footer>	
</body>
</html>