<!DOCTYPE html>
<html>
<head>
	<link href="../HomeHunter.css" rel="stylesheet">
	<meta charset="UTF-8">
</head>
<body>
	<div class="footer">
		<div class="footer-legal-back">
			<div class="footer-legal">
                <table>
                    <thead>
                        <tr>
                            <th>Save Money With Home Hunter</th>
                            <th>Get to know us</th>
                            <th>Getting Started</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Mortgage Calculator</td>
                        <td><a href="hhaboutus">About us</a></td>
                        <td>5 Easy Steps</td>
                    </tr>
                    <tr>
                        <td>Stamp Duty Calculator</td>
                        <td><a href="hhcontactus">Contact us</a></td>
                        <td>Sell your property</td>
                    </tr>
                    <tr>
                        <td>Savings Calculator</td>
                        <td><a href="hhtermsofuse.html">Terms of use</a></td>
                        <td><a href="fees.html">Fees</a></td>
                    </tr>
                    <tr>
                        <td>Who's who Property Advice</td>
                        <td><a href="hhcookiespolicy">Cookies Policy</a></td>
                    </tr>
                    <tr>
                        <td>Buying and Selling Check List</td>
                        <td>Privacy Notice</td>
                    </tr>
                    <tr>
                        <td><a href="FAQs.html">FAQs</a></td>
                    </tr>
                    </tbody>
                </table>
			</div>
		</div>
		<div class="footer-copyright-back">
			<div class="footer-copyright">
				&copy COPYRIGHT
			</div>	
		</div>
	</div>	
</body>
</html>