<div class="header-mid-back">
	<div class="header-mid">
		<div class="header-col-logo">
			<a href="#">
				<img class="logo" src="http://placehold.it/210x60" alt="Logo">
			</a>
		</div>

		<div class="header-col-links">
			<div class="links-col">
                <a href="Details.html">
                    List Property
				</a>
			</div>
			<div class="links-col">
                <a href="getstarted.html">
                    How It Works
				</a>
			</div>
			<div class="links-col">
                <a href="advice.html">
                    Advice
				</a>
			</div>
			<div class="links-col">
				<a href="fees.html">
					Fees
				</a>
			</div>
			<div class="links-col">
				<a href="FAQs.html">
					FAQs
				</a>
			</div>
		</div>
	</div>	
</div>