<header>
	<div id="header-top-container">
        <div id="header-top">
            <div class="float-left" id="user-profile-link">
                <a href="#">Tony Sellen</a>
            </div>
            
            <div class="float-right" id="user-control">
                <a href="login.html">Login</a> | 
                <a href="register.html">Register</a>
            </div>  
        </div>  
    </div>

	<div id="nav-container">
		<div id="nav">
			<div id="logo">
				<a href="#">
					<img class="logo" src="http://placehold.it/210x60" alt="Logo">
				</a>
			</div>

			<div id="header-link-container">

                <a href="Details.html">
                    <div class="links-col">
                    	List Property
                    </div>
				</a>
				
                <a href="getstarted.html">
                    <div class="links-col">
                    	How It Works
                    </div>
				</a>
				<a href="advice.html">
                    <div class="links-col">
                    	Advice
                    </div>
				</a>

				<a href="fees.html">
					<div class="links-col">
						Fees
					</div>
				</a>
				
				<a href="FAQs.html">
					<div class="links-col">
						FAQs
					</div>
				</a>
			</div>
		</div>	
	</div>
</header>