<div class="account-content">
	<div id="account-sidebar">
		<ul>
			<li>
				<%= link_to account_create_path do %>
	                <h1>Create Listings</h1>
           		<% end %>
            </li>
            <li>
				<%= link_to account_incomplete_path do %>
	                <h1>Incomplete Listings</h1>
           		<% end %>
            </li>
            <li class="sidebar-selected">
				<h1>Active Listings</h1>
            </li>
            <li>
				<%= link_to account_inactive_path do %>
	                <h1>Inactive Listings</h1>
           		<% end %>
            </li>
            <li>
				<%= link_to account_details_path do %>
	                <h1>Details Listings</h1>
           		<% end %>
            </li>
		</ul>
	</div>

	<div class="account-right">
		<h1>Active Listings</h1>
		<div class="divider-bar"></div>
		<div class="account-subheading"> Below is a list of all of your listings, here you can edit or hide. </div>

		<!-- An example active listing -->
		<div class="account-listing">

			<div class="front-house-image">
				<img src="http://placehold.it/350x200">
			</div>

			<div class="property-name">
				<h2><a href="listing.html" target="_blank">123 Example Road, London, SE6 315</a></h2>
			</div>

			<ul class="progress">
				<li class="wizard-section-edit"> Address </li>
				<li class="wizard-section-edit"> General Information </li>
				<li class="wizard-section-edit"> Outdoor Spaces </li>
				<li class="wizard-section-edit"> Parking </li>
				<li class="wizard-section-edit"> Heating </li>
				<li class="wizard-section-edit"> Rooms </li>
				<li class="wizard-section-edit"> Key Features </li>
				<li class="wizard-section-edit"> Description </li>
			</ul>

			<!--<div class="next-step-button">
				<h2> Hide </h2>
			</div>-->
            <a href="account-inactiveListings.html">
                <input type="submit" name"hide" value="Hide" id="next-step">
            </a>

		</div>

	</div>
</div>